<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">

    
  <div data-role="header" data-position="inline">
    <h1>Tau Platform Kitchen Sink</h1>
  </div>

  <div data-role="content">
    <div class="example-description">
     This sample application demonstrates APIs found in Tau Platform.	 
    </div>

    <%= render :partial => "/partials/navmenu" %>

  </div>


</div>
